/* ---------- NOT responsive -------------- */

@media (min-width: 1700px) {

    .txt-container2{
        position: absolute;
        right: 20%;
    }
    .txt-container{
        margin-left: 20%;
        
    }
  }
  
  