@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

h1,
#equation {
    color: rgb(218, 64, 64);
    font-weight: bold;
}

#equation{
    padding: 0;
}

.letter,
.close {
    cursor: pointer;
}

/* ----------------------------------- Closed letter --------------------------------- */
#closedSect {
    background-color: antiquewhite;
    height: 100vh;
}

.letter{
    margin: 0 auto;
    display: block;
}


.milkStrip {
    display: flex;
    justify-content: center;
    gap: 200px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    animation: stripSlide 10s linear 1s infinite;
}

.milkStrip img {
    max-height: 200px;
}

@keyframes stripSlide {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

/* ----------------------------------- Letter --------------------------------- */
#letter-open {
    display: none;
}

.close {
    width: 100px;
    height: 60px;
    background-color: #aa5858;
    border-radius: 0 30px 30px 0;
    right: -100px;
    position: absolute;
}

.close .fa{
    margin: 15px 0 0 60px;
}

.page {
    margin: 0 auto;
    width: 50vw;
    min-height: 100vh;
    min-width: 350px;
    position: relative;
    box-sizing: content-box;
    font-family: 'Shadows Into Light', cursive;
    font-size: 24px;

    background-image: linear-gradient(#f5f5f0 1.1rem, #ccc 1.2rem);
    background-size: 100% 1.2rem;

    padding: 1.7rem 0.5rem 0.3rem 6.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    background-attachment: scroll;
}

.page p,
h1 {
    margin: 0 auto;
    width: 80%;
}

h1 {
    margin-bottom: 20px;
}


.margen {
    position: absolute;
    border-left: 1px solid #d88;
    height: 100%;
    left: 6.3rem;
    top: 0;
}

.page p {
    text-indent: .5rem;
    padding-bottom: 2.2rem;
}

#equation {
    text-align: center;
}

.imageArea {
    position: relative;
    max-width: 500px;
    margin: auto;
    display: block;
}

.imgClip{
    padding: 60px 0;
    overflow: clip;
}

.page img[alt="drawing"] {
    width: 100%;
    max-width: 500px;
}

.tape {
    width: 200px;
    position: absolute;
}

.top-left {
    top: 0;
    left: -50px;
    rotate: 140deg;
}

.bottom-right {
    bottom: 0;
    right: -50px;
    transform: rotate(140deg);
}

.background {
    background: url("https://i.pinimg.com/originals/56/88/34/56883432aefe34311666f7eec54f1d78.jpg") left bottom no-repeat,
        url("https://i.pinimg.com/736x/ac/c7/dd/acc7ddf4c9a16f0d229bc5c37c52c573.jpg") right bottom no-repeat;
    background-attachment: fixed;
}